{% extends 'base.html' %}
   <meta charset="utf-8">
{% block title %}
   我的网站|登录
{% endblock %}

{% block header_extends %}

{% endblock %}

{% block activate_first__page %}
       active
{% endblock %}

{% block content %}

<h1 style="margin-top: 3em"></h1>
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-3">
        {% if not  user.is_authticated %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">登录</h3>
              </div>
              <div class="panel-body">
                <form action="" method="POST" >
                {% csrf_token %}
                {% for field  in login_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <p class="text-danger">{{ field.errors.as_text }}</p>{#在登录显示出错误，账号密码的错误#}
                {% endfor %}
                <span class="text-danger">{{ login_form.non_field_errors }}</span>
                 <div class="clearfix"></div>
                    <a href="{% url 'forget_password' %}" class="pull-left">找回密码</a>
                <input type="submit" value="登录" class="btn btn-primary pull-right">
                </form>
              </div>
            </div>
        {% else %}
            <span>已登录，跳转到首页...</span>
            <script type="text/javascript">
                window.location.href = '/'
            </script>
        {% endif %}
        </div>
    </div>
</div>

{%  endblock %}
